body {
	margin:0;
	background-color: #e6ebef;
}
.dark-mode{
  background-color: black;
  color: white;
}

.container{
	width: 70vw;
	height: 100vh;
	font-size: 22px;
	
	margin-left: auto;
    margin-right: auto;
	
	display: grid;
	
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 50px 1fr 1fr 100px;
	
	gap: 10px;
	
	padding: 10px;
	box-sizing: border-box;
}
.container div {
	padding: 10px;
	border:1px solid red;
	
}
.content-small{
  display: block;
}
.header{
	grid-column-start: 1;
	grid-column-end: 4;
	font-size: 120%;
	text-align: center;
}
.content-large{
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 3;
}
.content-medium{
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 4;
}
.content-medium-2{
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 2;
}
table, th, td {
	border: 1px solid black;
	table-layout: fixed;
	width:72%;
	margin-left: auto;
	margin-right: auto;
}
.footer{
	grid-column-start: 1;
	grid-column-end: 4;
	font-size: 18px;
	text-align: center;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.active {
  background-color: red;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.photoGrid {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
address {
  display: block;
  font-style: italic;
}
